"*":
  "exception-reporting":
    userId: "5325f40d-2b1b-1647-2dec-e0a2182f7171"
  welcome:
    showOnStartup: false
  metrics:
    userId: "878565d7b6afc337cc87802d0ccb1731a53c5b47"
  core:
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
  editor:
    showInvisibles: true
    showIndentGuide: true
    autoIndentOnPaste: false
    softWrap: true
    fontSize: 14
    invisibles:
      {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "autocomplete-plus":
    confirmCompletion: "tab"
